

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FindersSneakers</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/contact.css" type="text/css" />

  <!-- JavaScript Scripts -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <div class="contact-heading">
    <h1>Contact Seller</h1>
  </div>

  <main class="contact-main">
    <article class="contact-article">
      <header class="contact-ad-info">
        <h6>Sneaker Name: <%= sneaker.title %> </h6>
        <h6>Price: $<%= sneaker.price %> </h6>
        <h6> From: <%= user.name %> </h6>
      </header>
      <section>
        <form action="/sneakers/<%= sneaker.id %> " method="post">
          <textarea name="message" id="message" cols="50" rows="8" placeholder="Write message"></textarea>
        </br>
          <button class="btn btn-outline-primary contact-btn">Send Message to Seller</button>
        </form>
      </section>
    </article>
  </main>

</body>
</html>
